<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>action</key>
					<string>mydogcelltap:</string>
					<key>label</key>
					<string>我的狗狗</string>
					<key>detail</key>
					<string></string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>MyDog</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string>2</string>
				</dict>
				<dict>
					<key>action</key>
					<string>myprecelltap:</string>
					<key>label</key>
					<string>我的预定</string>
					<key>detail</key>
					<string></string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>MyReservations</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>mycollectcelltap:</string>
					<key>label</key>
					<string>收藏宠屋</string>
					<key>detail</key>
					<string></string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>DogHouse</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>mytitlecelltap:</string>
					<key>label</key>
					<string>头衔</string>
					<key>detail</key>
					<string></string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>MyTitle</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>myairbnbservicecelltap:</string>
					<key>label</key>
					<string>提供寄养服务</string>
					<key>detail</key>
					<string></string>
					<key>accessory</key>
					<string>option</string>
					<key>key</key>
					<string>MyService</string>
					<key>class</key>
					<string>C0_MineServiceCell</string>
					<key>value</key>
					<string>NO</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>action</key>
					<string>bnbpricecelltap:</string>
					<key>label</key>
					<string>寄养价格</string>
					<key>detail</key>
					<string>30元/天</string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>airprice</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>bnbhousettypecelltap:</string>
					<key>label</key>
					<string>住宅类型</string>
					<key>detail</key>
					<string>别墅</string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>HouseStyle</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>bnbouthousecelltap:</string>
					<key>label</key>
					<string>宠物室外活动范围</string>
					<key>detail</key>
					<string>花园</string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>MyDog</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string>2</string>
				</dict>
				<dict>
					<key>action</key>
					<string>bnbfreedatecelltap:</string>
					<key>label</key>
					<string>空闲日程</string>
					<key>detail</key>
					<string></string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>FreeDay</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>bnbjingyancelltap:</string>
					<key>label</key>
					<string>养宠经验</string>
					<key>detail</key>
					<string>0年</string>
					<key>accessory</key>
					<string>detail</string>
					<key>key</key>
					<string>MyDog</string>
					<key>class</key>
					<string>C0_MineCell</string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
